<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park.mapper.ParkSpotMapper">
	<resultMap id="parkSpot" type="park.pojo.ParkSpot">
		<id property="parkSpotId" column="park_spot_id" />
		
		<result property="parkId" column="park_id" />
		<result property="spotPlace" column="spot_place" />
		<result property="spotNum" column="spot_num" />
		<result property="spotType" column="spot_type" />
		<result property="spotState" column="spot_state" />
		<result property="carId" column="car_id" />
		<result property="state" column="state" />
	</resultMap>
	
	<insert id="insertSpotByBatch" parameterType="java.util.List">
	insert into PARK_SPOT 
	(park_spot_id,park_id,spot_place,spot_num,spot_type)
	values
	<foreach collection="list" item="item" index="index" separator=",">
            (#{item.parkSpotId,jdbcType=VARCHAR}, 
            #{item.parkId,jdbcType=VARCHAR},
            #{item.spotPlace,jdbcType=VARCHAR},
            #{item.spotNum,jdbcType=VARCHAR},
            #{item.spotType,jdbcType=VARCHAR})
    </foreach>
	</insert>
	
	<update id="updateParkSpot" parameterType="parkSpot">
	update PARK_SPOT
	<set>
		<if test="spotType!=null">spot_type=#{spotType},</if>
		<if test="spotState!=null">spot_state=#{spotState},</if>
		car_id=#{carId},
		<if test="state!=null">state=#{state}</if>
	</set>
	where park_spot_id = #{parkSpotId}
	</update>
	
	
	
</mapper>