<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park.mapper.UserRoleMapper">
<resultMap id="userRole"  type="userRole" >
  <id property="id" column="id" />
  <result property="userId" column="user_id"/>
  <result property="roleId" column="role_id"/>
  <result property="identityId" column="identity_id"/>
</resultMap>

<select id="selectByUserName" parameterType="String" resultType="Integer">
	select role_id from TB_USER_ROLE ur 
		left join USER u 
		on u.user_id=ur.user_id
		where username=${0}

</select>


</mapper>